# Node.js / Express
node_modules/
dist/
logs/
npm-debug.log*

# ignore client folder node_modules
client/node_modules/

# React
build/
node_modules/
.DS_Store
*.log

# Environment variables
.env

# IDE and Editor-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Miscellaneous
*.swp
Thumbs.db
.DS_Store

# Dependencies
/.pnp
.pnp.js

# TypeScript
*.tsbuildinfo

# Yarn
/.pnp
.yarn

# Testing
/coverage

# Production
*.log
build/
